<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Van-Tastic</title>
    </head>
    <body>
        <h1>Blogs index page</h1>
        <nav>
          <%- include('./partials/nav.ejs') %>
        </nav>
        <ul>
            <% for(let i = 0; i < blogs.length; i++){ %>
              <li>
                The
                <a href="/blogs/<%=blogs[i].id %>"><%=blogs[i].title; %>
                </a>
                located in  <%=blogs[i].location; %>.
                
                <% if(blogs[i].blogComplete === true){ %>
                    This masterpiece is complete!
                <% } else { %>
                    This Masterpiece is still needs work
                <% } %>
                <form action="/blogs/<%= blogs[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
                <a href="/blogs/<%=blogs[i].id %>/edit">Edit</a>
            </li>
            <% } %>
        </ul>
    </body>
</html>
